.plano-fundo-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #e3b63a;
}
.no-tem-uma {
    position: absolute;
    height: 3.95%;
    width: 52.05%;
    top: 69.23%;
    left: 15.74%;
    display: inline-block;
}
.esqueceu-sua-senha {
    position: absolute;
    height: 3.95%;
    width: 33.72%;
    top: 74.38%;
    left: 15.74%;
    display: inline-block;
    cursor: pointer;
}
.group-item {
    position: absolute;
    height: 17.37%;
    width: 28.26%;
    top: 10.78%;
    right: 36.51%;
    bottom: 71.85%;
    left: 35.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #c9c9c9;
}
.emailusurio {
    position: absolute;
    height: 35.36%;
    width: 30.62%;
    top: 32.37%;
    left: 4.3%;
    display: inline-block;
}
.rectangle-group {
    position: absolute;
    height: 8.47%;
    width: 68.78%;
    top: 45.77%;
    right: 15.51%;
    bottom: 45.76%;
    left: 15.71%;
    font-size: 25px;
    color: rgba(103, 103, 103, 0.5);
}
.senha {
    position: absolute;
    height: 35.36%;
    width: 17.86%;
    top: 31.37%;
    left: 4.3%;
    display: inline-block;
}
.rectangle-container {
    position: absolute;
    height: 8.47%;
    width: 68.78%;
    top: 58.31%;
    right: 15.51%;
    bottom: 33.22%;
    left: 15.71%;
    font-size: 25px;
    color: rgba(103, 103, 103, 0.5);
}
.group-wrapper {
    position: absolute;
    height: 77.31%;
    width: 35.62%;
    top: 14.72%;
    right: 31.3%;
    bottom: 7.97%;
    left: 33.07%;
}
.boto-finalizar-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    background-color: #3abd0b;
}
.prximo {
    position: absolute;
    height: 40.93%;
    width: 70.79%;
    top: 29.55%;
    left: 20.46%;
    font-weight: 800;
    display: inline-block;
}
.boto-finalizar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.confirmar {
    position: absolute;
    height: 5%;
    width: 6.62%;
    top: 81.02%;
    right: 37.71%;
    bottom: 13.98%;
    left: 55.68%;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-family: Inter;
}
.tela-de-login-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.barra-topo-child {
    position: absolute;
    top: 159px;
    left: 0px;
    background-color: #373737;
    width: 1906px;
    height: 890px;
}
.barra-topo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 9px 7px rgba(22, 22, 22, 0.79);
    background-color: #e3b63a;
    overflow: hidden;
}
.frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}
.frame-wrapper {
    position: absolute;
    height: 40.93%;
    width: 2.89%;
    top: 32.91%;
    right: 1.47%;
    bottom: 26.17%;
    left: 95.64%;
}
.perfil-icon {
    position: absolute;
    height: 30.42%;
    width: 1.68%;
    top: 38.08%;
    right: 0%;
    bottom: 31.5%;
    left: 98.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.carrinho-icon {
    position: absolute;
    height: 31.03%;
    width: 1.61%;
    top: 38.27%;
    right: 3.53%;
    bottom: 30.7%;
    left: 94.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.poit-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background-color: #fff;
}
.cutpoint {
    position: absolute;
    height: 67.23%;
    width: 90.52%;
    top: 16.99%;
    left: 4.28%;
    white-space: pre-wrap;
    display: inline-block;
}
.poit {
    position: absolute;
    height: 43.97%;
    width: 6.18%;
    top: 28.27%;
    right: 6.38%;
    bottom: 27.76%;
    left: 87.44%;
}
.incio {
    position: absolute;
    height: 98.36%;
    width: 27.94%;
    top: 1.56%;
    left: 0%;
    display: inline-block;
    cursor: pointer;
}
.cortes {
    position: absolute;
    height: 98.36%;
    width: 32.65%;
    top: 1.56%;
    left: 18.82%;
    display: inline-block;
}
.horrios {
    position: absolute;
    height: 98.36%;
    width: 37.06%;
    top: 1.56%;
    left: 41.46%;
    display: inline-block;
}
.localizao {
    position: absolute;
    height: 100%;
    width: 31.08%;
    top: 0%;
    left: 68.91%;
    display: inline-block;
}
.inicio-etc {
    position: absolute;
    height: 30.05%;
    width: 32.92%;
    top: 35.74%;
    right: 14.01%;
    bottom: 34.21%;
    left: 53.07%;
    font-family: Inter;
}
.logo-hw-icon {
    position: absolute;
    height: 100%;
    width: 5.37%;
    top: 0%;
    right: 94.63%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.barra {
    position: absolute;
    height: 71.17%;
    width: 96.17%;
    top: 14.03%;
    right: 2.11%;
    bottom: 14.8%;
    left: 1.72%;
}
.tela-preincipal {
    position: absolute;
    height: 10.56%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 89.44%;
    left: 0%;
    font-size: 25px;
    color: #000;
}
.tela-de-login {
    width: 100%;
    position: relative;
    background-color: #292929;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #175568;
    font-family: 'League Gothic';
}

